<html lang="en" ng-app="ck32" ng-controller="BasicCtrl as ctrl" ng-cloak>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap make-up -->
    <link rel="stylesheet" href="css/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" ng-href="css/boostrap/bootstrap-{{theme || 'standard'}}.min.css">
    <link rel="stylesheet" href="css/angular/angular-aside.min.css">
    <link rel="stylesheet" href="css/overlay/overlay.css">
    <!-- ck32 make-up -->
    <link rel="stylesheet" href="css/ck32_styles/ck32.css">

    <!-- Angular and bootstrap spellbooks -->
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-animate.min.js"></script>
    <script src="js/angular/angular-route.js"></script>
    <script src="js/angular/angular-aside.min.js"></script>
    <script src="js/overlay/overlay.js"></script>
    <script src="js/bootstrap/ui-bootstrap-1.3.2.min.js"></script>
    <script src="js/bootstrap/ui-bootstrap-tpls-1.3.2.min.js"></script>

    <!-- ck32 spellbook  -->
    <script src="js/ck32_app/ck32.js"></script>
    <script src="snipets/sidenav/sidenav.js"></script>

</head>

<body ng-cloak>
    <treasure-overlay-spinner active='spinner.active'>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header" ng-controller="sidenavController">
                    <i class="navbar-brand fa fa-bars fa-lg" ng-click="openAside('left', true)"></i>
                </div>
                <div class="navbar-header">
                    <i class="navbar-brand" href="#home">&nbsp;CK-Dashboard</i>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-brand">
                        <div uib-dropdown>
                            <i class="fa fa-bell" uib-dropdown-toggle>
                        </i>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                                <li role="menuitem"><a ng-click="theme='cerulean'">Action</a></li>
                                <li role="menuitem"><a href="#">Another action</a></li>
                                <li role="menuitem"><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li role="menuitem"><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="navbar-brand">
                        <div uib-dropdown>
                            <i class="fa fa-thumb-tack" uib-dropdown-toggle><span class="badge">0</span></i>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                                <li role="menuitem">
                                    <a href="#">Action</a>
                                </li>
                                <li role="menuitem">
                                    <a href="#">Another action</a>
                                </li>
                                <li role="menuitem">
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li role="menuitem">
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="navbar-brand">
                        <div uib-dropdown>
                            <i class="fa fa-tint" uib-dropdown-toggle></i>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                                <li role="menuitem">
                                    <a ng-click="theme = 'standard'">Standard</a>
                                </li>
                                <li role="menuitem">
                                    <a ng-click="theme = 'cerulean'">Cerulean</a>
                                </li>
                                <li role="menuitem">
                                    <a ng-click="theme = 'cosmo'">Cosmo</a>
                                </li>
                                <li role="menuitem">
                                    <a ng-click="theme = 'cyborg'">Cyborg</a>
                                </li>
                                <li role="menuitem">
                                    <a ng-click="theme = 'darkly'">Darkly</a>
                                </li>
                                <li role="menuitem">
                                    <a ng-click="theme = 'flatly'">Flatly</a>
                                </li>
                                <li role="menuitem">
                                    <a ng-click="theme = 'journal'">Journal</a>
                                </li>
                                <li role="menuitem">
                                    <a ng-click="theme = 'lumen'">Lumen</a>
                                </li>
                                <li role="menuitem">
                                    <a ng-click="theme = 'paper'">Paper</a>
                                </li>
                                <li role="menuitem">
                                    <a ng-click="theme = 'readable'">Readable</a>
                                </li>
                                <li role="menuitem">
                                    <a ng-click="theme = 'sandstone'">Sandstone</a>
                                </li>
                                <li role="menuitem">
                                    <a ng-click="theme = 'simplex'">Simplex</a>
                                </li>
                                <li role="menuitem">
                                    <a ng-click="theme = 'slate'">Slate</a>
                                </li>
                                <li role="menuitem">
                                    <a ng-click="theme = 'spacelab'">SpaceLab</a>
                                </li>
                                <li role="menuitem">
                                    <a ng-click="theme = 'superhero'">SuperHero</a>
                                </li>
                                <li role="menuitem">
                                    <a ng-click="theme = 'united'">United</a>
                                </li>
                                <li role="menuitem">
                                    <a ng-click="theme = 'yeti'">yeti</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <form name="form" novalidate>
            <div class="field">
                <label ng-show="betterField" class="show-hide">Better field</label>
                <input name="betterfield" type="text" class="form-control" ng-model="betterField" placeholder="Better field" />
            </div>
            </form>
            <div class="field">
                <label ng-show="betterField2" class="show-hide">Better select</label>
                <select class="form-control input-sm short-input" ng-model="betterField2">
                    <option value="" disabled>Better select</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                </select>
            </div>

    </treasure-overlay-spinner>
</body>

</html>
