<div class="modal-header">
    <div class="row">
        <div class="col-lg-10"></div>
        <div class="col-lg-1 text-center">
            <i class="fa fa-bell"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <img src="img/user.jpg" class="img-circle" alt="Cinque Terre" width="30%" height="10%">
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
<div class="modal-body">
    Look i'm in aside.
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok($event)">OK</button>
    <button class="btn btn-warning" ng-click="cancel($event)">Cancel</button>
</div>
